body {
    display: flex;
    flex-direction: column;
    margin: 0;
    color:rgb(56, 24, 24);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.955);
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

nav img {
    width: 80px;
    height: 80px;
}

a {
    color: rgb(56, 24, 24);
    font-weight: bold;
    text-decoration: none;
}

.scroll-up {
    background-color: rgb(250, 250, 173, 0.674);
    color:rgb(56, 24, 24);
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 1px 1px 1px black;
    font-size: 0.75rem;
    border-radius: 1px solid black;
}

.acquista {
    background-color: whitesmoke;
    color:rgb(56, 24, 24);
    box-shadow: 1px 1px 1px black;
    font-size: 0.85rem;
    width: 30%;
    position: relative;
    font-weight: bold;
}

a:hover, button:hover {
    text-decoration: underline;
    color: rgba(142, 90, 90, 0.649);
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.new-arrivals, .best-seller, .most-popular {
    margin: 0;
    width: 100%;
    margin-top: 70px;;
    display: flex;
    overflow: scroll;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.852);
    padding: 30px;
}

.new-arrivals img {
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.section h5 {
    text-align: center;
}


.best-seller h5,
.most-popular h5 {
    font-weight: bold;
    font-size: 20px; 
}

.card {
border: 1px solid rgb(56, 24, 24);
box-shadow: 2px 3px 3px;
background-color: rgba(245, 245, 245, 0.805);
padding: 20px;
height: 720px;
}

.card h4 {
   border: 1px solid black;
   justify-content: center;
   text-align: center;
   padding: 10px;
}

.card h5 {
    justify-content: center;
   text-align: center;
   border-bottom: 1px solid rgb(56, 24, 24);
}

.contact, .help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 25px;
    margin-top: 50px;
    border-bottom: 1px solid rgb(56, 24, 24);
}

.contact h4, .help h4 {
    position: relative;
    top: -290px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.204);
}

.contact img, .help img {
    width: 100%;
    object-fit: cover;
}

footer {
    background-color: rgba(56, 24, 24, 0.236);
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
    color: rgba(158, 158, 158, 0.104);
}

.social {
    display: flex;
}

.social img {
    height: 30px;
    width: 30px;
}

 /* Desktop */
 @media only screen and (min-width: 1280px) {
    .acquista {
        width: 10%;
        margin: 20px;
    }

    .new-arrivals img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    
    .contact h4, .help h4 {
        left: 300px;
    }
    
    footer h5 {
        font-size: 20px;
    }

    footer h6 {
        font-size: 16px;
    }